name: Test integration CI

on:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Install dependencies
        run: npm install
      - run: npm run test:integration
        env:
          MAPBOX_API_KEY: ${{ secrets.MAPBOX_API_KEY }}
          HERE_API_KEY: ${{ secrets.HERE_API_KEY }}
          TOMTOM_API_KEY: ${{ secrets.TOMTOM_API_KEY }}
